*{
    box-sizing:border-box;          //reset
    margin:0;                       //reset
    padding:0;                      //reset
    font-family: 'Noto Sans TC';    //網頁字體
    font-style: normal;             //網頁字體
}


@mixin screen1300{
    @media(max-width:1300px){
      @content;
    }
}

@mixin screen1000{
    @media(max-width:1000px){
      @content;
    }
}

@mixin screen750{
    @media(max-width:750px){
      @content;
    }
}

@mixin screen500{
    @media(max-width:500px){
      @content;
    }
}

@mixin screen360{
    @media(max-width:360px){
      @content;
    }
}


body{

    nav{
        width:100%;
        position:fixed;
        z-index: 2;
        top:0;
        div{
            width:1200px;
            height:54px;
            margin: 0 auto;
            display: flex;
            // align-items: center;/* 垂直置中 */
            background-color:#FFFFFF;
            // background-color:red;
            // opacity: 0.6;
            @include screen1300(){
                width:90%;
            }
            @include screen1000(){
                width:85%;
            }
            @include screen500(){
                width:100%;
                padding-left: 5px;
                padding-right: 5px;
            }
            
            
            div.leftBar{
                width:50%;
                // background-color: rgb(142, 142, 246);
                font-family: 'Noto Sans TC';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                // line-height: 54px;
                // background-color: rgb(202, 159, 242);
                color:#448899;
                align-items: center;/* 垂直置中 */
                @include screen750(){
                    font-size: 25px;
                }
                @include screen360(){
                    margin-left: 6px;
                }
                
            }
            div.rightBar{
                width:50%;
                display: flex;
                justify-content: right;
                align-items: center;/* 垂直置中 */
                p{
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 16px;
                    color: #666666;
                    @include screen750(){
                        font-size: 14px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
                .SigninRegister{
                    display: flex;
                }
                .SignOut{
                    display: none;
                }
            }

        }
    }
    main{
        padding-top: 60px;
        // margin-top:80px;
        // top:100px;
        width: 100%;
        height: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;/* 垂直置中 */

        .filmBackground{
            width:100%;
            height:100%;
            background-color: black;
            z-index: 100;
            // position: absolute;
            position:fixed;                 //固定在視窗同個位置，捲動時跟著移動
            top:0;
            opacity: 0.25;
            display: none;
        }
        .signinBlock{
            width:100%;
            height:275px;
            margin-top: 26px;
            // background-color: #666666;
            // opacity: 0.25;
            position:fixed;
            // position: absolute;
            z-index: 101;
            display: none;
            // display: flex;
            justify-content: center;
            
            .signinBackground{
                // position: relative;
                width:340px;
                height:100%;
                background-color: #448899;
                border-radius:6px;
                .signinContent{
                    width: 100%;
                    // height: 100%;
                    height:265px;
                    margin-top: 10px;
                    background-color: #FFFFFF;
                    border-radius:0 0 6px 6px;
                    .signinTitle{
                        position: relative;
                        top: 15px;
                        width: 100%;
                        height:27px;
                        // background-color: black;
                        display: flex;
                        justify-content: center;
                        color:#666666;
                        font-weight: 1000;
                        font-size: 24px;
                    }

                    .signinClose{
                        position: relative;
                        // background-color: red;
                        left:75px;
                    }

                    input{
                        width:310px;
                        height:47px;
                        left:15px;
                        border-radius:5px;
                        padding:15px;
                        border:1px Gray solid;
                        font-weight:600;
                        
                    }
                    .signinEmail{
                        position: relative;
                        top: 30px;
                    }
                    .signinPassword{
                        position: relative;
                        top: 40px;
                    }
                    .signinBtn{
                        position: relative;
                        top: 50px;
                        left:15px;
                        width:310px;
                        height:47px;
                        background-color:#448899;
                        border-radius:6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 1000px;
                        color:white;
                    }
                    .signinCreateAccount{
                        position: relative;
                        top: 60px;
                        // left:15px;
                        color:#666666;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 1000px;
                    }
                    .signinMessage{
                        position: relative;
                        top: 40px;
                        // display: flex;
                        display: none;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 1000px;
                        color:red;
                    }
                }
            }
        }
        .registerBlock{
            width:100%;
            height:332px;
            margin-top: 26px;
            // background-color: #666666;
            // position: absolute;
            position:fixed;
            z-index: 101;
            display: none;
            // display: flex;
            justify-content: center;
            
            .registerBackground{
                width:340px;
                height:100%;
                background-color: #448899;
                border-radius:6px;
                .registerContent{
                    width: 100%;
                    // height:350px;
                    height:322px;
                    margin-top: 10px;
                    background-color: #FFFFFF;
                    border-radius:0 0 6px 6px;
                    .registerTitle{
                        position: relative;
                        top: 15px;
                        width: 100%;
                        height:27px;
                        // background-color: black;
                        display: flex;
                        justify-content: center;
                        color:#666666;
                        font-weight: 1000;
                        font-size: 24px;
                    }

                    .registerClose{
                        position: relative;
                        // background-color: red;
                        left:75px;
                    }

                    input{
                        width:310px;
                        height:47px;
                        left:15px;
                        border-radius:5px;
                        padding:15px;
                        border:1px Gray solid;
                        font-weight:600;
                        
                    }
                    .registerName{
                        position: relative;
                        top: 30px;
                    }

                    .registerEmail{
                        position: relative;
                        top: 40px;
                    }
                    .registerPassword{
                        position: relative;
                        top: 50px;
                    }
                    .registerBtn{
                        position: relative;
                        top: 60px;
                        left:15px;
                        width:310px;
                        height:47px;
                        background-color:#448899;
                        border-radius:6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 1000px;
                        color:white;
                        border:0px
                    }
                    .registerSignInTo{
                        position: relative;
                        top: 70px;
                        // left:15px;
                        color:#666666;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 1000px;
                    }
                    .registerMessage{
                        position: relative;
                        top: 80px;
                        display: none;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 1000px;
                        color:red;
                    }
                }
            }
        }



        .sectionPicture{
            margin: 0 auto;
            justify-content: center;
            width:1200px;
            height:480px;
            // background-color: rgb(94, 91, 91);
            display: flex;
            @include screen1300(){
                width:90%;
            }
            @include screen1000(){
                width:85%;
            }
            @include screen750(){
                display:block;
            }
            @include screen500(){
                width:100%;
            }
            @include screen360(){
                width:100%;
            }
            
            .pictureLeft{
                width:540px;
                height: 406px;
                margin-top: 37px;
                margin-left: 5px;
                background-color: rgb(227, 190, 141);
                position: relative;
                
                @include screen750(){
                    margin: 0px auto;
                    width:100%;
                }
                
                .imgBackground{
                    width:100%;
                    height:100%;
                    position:absolute;
                    // background-color: #448899;
                    object-position: center center;
                    object-fit:cover;   /*裁切縮放*/
                }
                .carouselBtnBlock{
                    width: 540px;
                    height: 36px;
                    margin-top: 185px;
                    // background-color: red;
                    position:absolute;
                    display: flex;
                    align-items: center;/* 垂直置中 */
                    justify-content: space-between;
                    @include screen1300(){
                        width:100%;
                    }
                    
                    .carouselBtn{
                        margin:0 10px;
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        background-color: white;
                        opacity: 0.7;
                        display: flex;
                        align-items: center;/* 垂直置中 */
                        justify-content: center;
                        @include screen1000(){
                            height: 25px;
                            width: 25px;
                        }
                        i{                            
                            opacity: 0.5;
                            font-size: 20px;
                            @include screen1000(){
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .carouselUnderBlock{
                    // margin-top: 154px;
                    width:100%;
                    height:12px;
                    display: flex;
                    // background-color: green;
                    justify-content: center;
                    position:absolute;
                    bottom: 7px;
                    .carouselInturn{
                        margin:0 3px;
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        // border:solid 2px white;
                        background-color: white;
                        opacity: 0.7;
                        display: flex;
                        justify-content: center;
                        align-items: center;/* 垂直置中 */
                        .carouselInturnshow{
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            background-color: black;
                            display:none;
                            // display:block;
                        }
                        
                    }
                }
                

            }
            .pictureRight{
                width:615px;
                height: 406px;
                margin-top: 37px;
                margin-left: 30px;
                // background-color: antiquewhite;
                color: #666666;
                @include screen750(){
                    margin: 20px auto;
                    width:95%;
                }
                .attractionName{
                    width: 100%;
                    height:33px;
                    font-weight: 700;
                    font-size: 24px;
                    
                }
                .attractionSort{
                    width: 100%;
                    height:22px;
                    margin-top: 20px;
                    // background-color: white;
                    font-weight: 700;
                    font-size: 16px;
                }
                .orderDirect{
                    width:100%;
                    height: 310px;
                    // height: 302px;
                    margin-top: 20px;
                    background-color: #E8E8E8;
                    
                    .orderTitle{
                        padding-top: 15px;
                        margin-left: 20px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                    .orderScribe{
                        margin-left: 20px;
                        margin-top: 15px;
                        font-weight: 500;
                        font-size: 16px;
                    }
                    .orderScribe{
                        margin-left: 20px;
                        margin-top: 15px;
                        font-weight: 500;
                        font-size: 16px;
                        @include screen500(){
                            margin-right: 10px;
                        }
                    }
                    .dateBlock{
                        .dateTitle{
                            margin-left: 20px;
                            font-weight: 700;
                            font-size: 16px;
                            .dateIn{
                                margin-top:20px;
                                padding:5px 10px;
                            }
                        }
                    }
                    .timeBlock{
                        margin-top: 15px;
                        height:25px;
                        display:flex;
                        align-items: center;/* 垂直置中 */
                        .timeTitle{
                            margin-left: 20px;
                            font-weight: 700;
                            font-size: 16px;
                        }
                        input{   
                            margin-left: 6px;    
                            height: 22px;
                            width: 22px;
                            border-radius: 100px;
                            accent-color: #448899;
                        }
                        label{
                            margin-left: 6px;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                    .feeBlock{
                        display:flex;
                        margin-top: 18px;
                        .feeTitle{
                            margin-left: 20px;
                            font-weight: 700;
                            font-size: 16px;
                        }
                        .fee{
                            margin-left: 5px;
                            font-weight: 700;
                            font-size: 16px;

                        }
                    }
                    .orderBtn{
                        margin-left: 20px;
                        margin-top: 25px;
                        padding:5px 20px;
                        width: 154px;
                        height: 36px;
                        background-color: #448899;
                        font-size: 19px;
                        color: white;
                        border-radius: 6px 6px 6px 6px;
                    }
                }

            }
        }
        hr{
            max-width: 1200px;
            margin:0 auto;
            @include screen1300(){
                width:90%;
            }
            @include screen1000(){
                width:85%;
            }
            @include screen750(){
                margin:0 auto;
                margin-top: 400px;
                width:80%;
            }
            @include screen360(){
                width:95%;
            }
        }
        
        .sectioncontain{
            width:100%;
            color:#666666;
            p{
                width: 1180px;
                margin:0 auto;
                // height:200px;
                // background-color:rgba(255, 255, 255, 0.8);
                // background-color:yellow;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                // border:solid 1px #666666;
                @include screen1300(){
                    width:90%;
                }
                @include screen1000(){
                    width:85%;
                }
            }
            
            
            .describe{
                margin-top: 50px;
            }
            .addressTitle{
                height: 32px;
                line-height: 32px;
                font-weight: 700;
                margin-top: 20px;
            }
            .transportTitle{
                height: 32px;
                line-height: 32px;
                font-weight: 700;
                margin-top: 20px;
            }



        }
    // .filmBackground{
    //     width:100%;
    //     height:100%;
    //     background-color: black;
    //     z-index: 100;
    //     // position: absolute;
    //     position:fixed;                 //固定在視窗同個位置，捲動時跟著移動
    //     top:0;
    //     opacity: 0.25;
    //     // display: none;
    // }



    }
    footer{
        width: 100%;
        height: 104px;
        margin-top: 224px;
        background: #757575;

        p{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 104px;
        text-align: center;

        }
    }


}