*{
    box-sizing:border-box;          //reset
    margin:0;                       //reset
    padding:0;                      //reset
    font-family: 'Noto Sans TC';    //網頁字體
    font-style: normal;             //網頁字體
}



@mixin screen1250{
    @media(max-width:1250px){
      @content;
    }
}

@mixin screen800{
    @media(max-width:800px){
      @content;
    }
}

@mixin screen550{
    @media(max-width:550px){
      @content;
    }
}

@mixin screen410{
    @media(max-width:410px){
      @content;
    }
}

nav{
    width:100%;
    height:54px;
    position:fixed;                 //固定在視窗同個位置，捲動時跟著移動
    top:0;
    // display:fixed;               //亂寫XDDD
    // position: absolute;
    z-index: 100;
    background-color: white;
    
    
    
    div{
        display:flex;
        width:1200px;
        // width:75%;
        justify-content: space-between; //水平分散
        margin: auto;                   //auto就是置中
        // position: absolute;
        // z-index: 2;
        // background-color: yellow;
        
        @include screen1250{
            width:90%;
        }

        div.nav-bar-left{
            width:50%;           
            p{
                width:100%;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 30px;
                font-weight: 700;
                color:#448899; 
                @include screen410{
                    font-size: 28px;
                }
            }
        }
        div.nav-bar-right{
            width:50%;
            display:flex;
            justify-content: right;
            
            p{
                // background-color: red;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 20px;
                font-size: 16px;
                display:flex;    
                align-items: center;/* 垂直置中 */
                justify-content: center;/* 水平置中 */
                color:#666666;
                font-weight:500;
                @include screen410{
                    margin-right:10px;
                }
                
            }
            
            
        }
    }
}

main{
    
    .page-one{
        width: 100%;
        height: 320px;
        margin-top: 54px;
        // position: relative;
        background-image: url(../img/welcome.png);
        // background-repeat: no-repeat;
        background-size: cover;
        object-position: 100% 0;
        
            
        .text{
            position: absolute;
            width: 1200px;
            margin-top: 85px;
            left:50%;
            transform:translate(-50%,0%);
            // background-color: red;

            @include screen1250{
                width:90%;
            }
            
            h2{
                font-weight: 700;
                font-size: 28px;
                line-height: 24px;
                color: #F8F8F8;
                margin: 30px 0;

            }
            p{
                font-weight: 700;
                font-size: 16px;
                line-height: 13px; 
                color: #F8F8F8;
                margin: 30px 0;

                
            }
            .but{
                width: 460px;
                height: 46px;
                display: flex;
                // background-color: black;
                @include screen550{
                    width: 95%;
                }
                .search{
                    width: 400px;
                    background: #FFFFFF;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 13px;
                    color: #757575;
                    padding: 15px 10px;
                    border: none;
                    border-radius: 6px 0 0 6px;
                    @include screen410(){
                        width: 250px;
                        
                    }
                }
                .icon{
                    width: 60px;
                    height: 46px;
                    background: #448899;
                    border: none;
                    border-radius:  0 10% 10% 0 ;
                    display:flex;    
                    align-items: center;/* 垂直置中 */
                    justify-content: center;/* 水平置中 */
                    i{
                        color: #F8F8F8;
                        font-size: 1.65rem;    
                    }
                }   
            }
            //新增一個外層
            .searchcontainer{
                width: 400px;
                // height: 162px;
                display:none;
                // position:absolute;
                // z-index: 100;
                @include screen550{
                    width: 80%;
                }
                .searchForm{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(3,120px);
                    grid-template-rows: repeat(3 ,40px);
                    padding-right:40px;
                    margin-top: 5px;
                    border-radius:  5px;
                    box-shadow: 0px 0px 20px #AABBCC;
                    background-color:  #FFFFFF;
                    @include screen550{
                        width:350px;
                    }

                    @include screen410{
                        width:310px;
                        padding-right:0px;
                        // box-shadow: 0px 0px 5px #AABBCC;
                        grid-template-columns: repeat(3,1fr);
                        grid-template-rows: repeat(3 ,1fr);
                    }
                    
                    .searchItem{
                        width: 120px;
                        height: 40px;
                        padding: 10px 15px;
                        gap: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        align-items: center;
                        @include screen550{
                            width:96px;
                        }
                        @include screen410{
                            width:  80px;
                            padding: 10px 10px;
                        }
                    
                    }

                    .searchItem:hover{
                        width: 100%;
                        height: 100%;
                        background-color: rgba(232, 232, 232, 1);
                        border-radius: 5px;
                        @include screen550{
                            width:96px;
                        }
                    }
                }
            }           
        } 
        .filmBackground{
            width:100%;
            height:100%;
            background-color: black;
            z-index: 100;
            position: absolute;
            opacity: 0.25;
            display: none;
        }
        .signinBlock{
            width:100%;
            height:275px;
            margin-top: 26px;
            // background-color: #666666;
            // opacity: 0.25;
            position: absolute;
            z-index: 101;
            display: none;
            // display: flex;
            justify-content: center;
            
            .signinBackground{
                // position: relative;
                width:340px;
                height:100%;
                background-color: #448899;
                border-radius:6px;
                .signinContent{
                    width: 100%;
                    // height: 100%;
                    height:265px;
                    margin-top: 10px;
                    background-color: #FFFFFF;
                    border-radius:0 0 6px 6px;
                    .signinTitle{
                        position: relative;
                        top: 15px;
                        width: 100%;
                        height:27px;
                        // background-color: black;
                        display: flex;
                        justify-content: center;
                        color:#666666;
                        font-weight: 1000;
                        font-size: 24px;
                    }

                    .signinClose{
                        position: relative;
                        // background-color: red;
                        left:75px;
                    }

                    input{
                        width:310px;
                        height:47px;
                        left:15px;
                        border-radius:5px;
                        padding:15px;
                        border:1px Gray solid;
                        font-weight:600;
                        
                    }
                    .signinEmail{
                        position: relative;
                        top: 30px;
                    }
                    .signinPassword{
                        position: relative;
                        top: 40px;
                    }
                    .signinConfirm{
                        position: relative;
                        top: 50px;
                        left:15px;
                        width:310px;
                        height:47px;
                        background-color:#448899;
                        border-radius:6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 1000px;
                        color:white;
                    }
                    .signinCreateAccount{
                        position: relative;
                        top: 60px;
                        // left:15px;
                        color:#666666;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 1000px;
                    }
                }
            }
        }

        .registerBlock{
            width:100%;
            height:332px;
            margin-top: 26px;
            background-color: #666666;
            position: absolute;
            z-index: 101;
            display: none;
            // display: flex;
            justify-content: center;
            
            .registerBackground{
                width:340px;
                height:100%;
                background-color: #448899;
                border-radius:6px;
                .registerContent{
                    width: 100%;
                    height:322px;
                    margin-top: 10px;
                    background-color: #FFFFFF;
                    border-radius:0 0 6px 6px;
                    .registerTitle{
                        position: relative;
                        top: 15px;
                        width: 100%;
                        height:27px;
                        // background-color: black;
                        display: flex;
                        justify-content: center;
                        color:#666666;
                        font-weight: 1000;
                        font-size: 24px;
                    }

                    .registerClose{
                        position: relative;
                        // background-color: red;
                        left:75px;
                    }

                    input{
                        width:310px;
                        height:47px;
                        left:15px;
                        border-radius:5px;
                        padding:15px;
                        border:1px Gray solid;
                        font-weight:600;
                        
                    }
                    .registerName{
                        position: relative;
                        top: 30px;
                    }

                    .registerEmail{
                        position: relative;
                        top: 40px;
                    }
                    .registerPassword{
                        position: relative;
                        top: 50px;
                    }
                    .registerConfirm{
                        position: relative;
                        top: 60px;
                        left:15px;
                        width:310px;
                        height:47px;
                        background-color:#448899;
                        border-radius:6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 1000px;
                        color:white;
                    }
                    .registerSingin{
                        position: relative;
                        top: 70px;
                        // left:15px;
                        color:#666666;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 1000px;
                    }
                }
            }
        }
    }

    .container-twelve{
        width:100%;
        .container-block{
            width:1200px;
            margin:55px auto; //外部上下55px 左右置中 
            display:grid;
            grid-template-columns: repeat(4,270px); //寬度
            grid-template-rows: repeat(3,242px);    /*高度 1row 2row*/
            grid-gap:30px;

            @include screen1250(){
                width:90%;
                grid-template-columns: repeat(3,1fr); //寬度
                grid-template-rows: repeat(4,1fr);    /*高度 1row 2row*/
            }

            @include screen800(){
                // width:90%;
                grid-template-columns: repeat(2,1fr); //寬度
                grid-template-rows: repeat(6,1fr);    /*高度 1row 2row*/
            }

            @include screen550(){
                grid-template-columns: repeat(1,1fr); //寬度
                grid-template-rows: repeat(12,1fr);    /*高度 1row 2row*/
            }
                        
            .item{
                width:100%;
                height: 100%;
                outline:1px solid rgb(200, 200, 200);//不佔空間的border
                border-radius: 8px;
                .img-block{
                    width: 100%;
                    height: 197px;
                    display: flex; 
                    object-position: center center;
                    object-fit:cover;   /*裁切縮放*/
                    // object-fit: fill;
                    // flex-wrap: wrap;
                    // display: block;   
                    align-items: center;
                    position: relative;
                    z-index: -50;
                    border-right-color: #448899;

                    p{
                        width: 100%;
                        // height: 20vh;
                        display: inline-block;  //換行搭配
                        max-height: 10vh;       //換行搭配
                        position:absolute;
                        bottom: 0;
                        background: #000000;
                        opacity: 0.6;
                        padding: 10px;
                        color: #FFFFFF;
                        font-weight: 700;
                       
                        font-size: 16px;
                        
                    }
                }
                .sort{
                    width:100%;
                    display: flex;
                    justify-content: space-between;/*內文區塊水平平分*/
                    
                    p{
                        padding:10px;
                        font-size: 16px;
                        font-weight: 700;
                        background-color: white;
                        color:#757575;
                        // padding:10px;
                        // gap: 4px;
                        // font-weight: 500;
                        // font-size: 16px;
                        // line-height: 40px;
                        // color: #757575;
                    }
                }

            }

        }
    }
}

footer{
    width: 100%;
    height: 104px;
    background: #757575;

    p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 104px;
    text-align: center;

    }
}

.loading {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .3s ease-in;
}

.show {
    opacity: 1;
}

.ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
    animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-10px);
    }
}
