<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attractions</title>
    <link rel="stylesheet" href="../static/css/attraction.css">
    <link rel="stylesheet" href="../static/css/all.css">
</head>
<body>
    <nav>
        <div>
            <div class="leftBar">台北一日遊</div>
            <div class="rightBar">
                <p>預定行程</p>
                <p>登入/註冊</p>
            </div>
        </div>
    </nav>
    <main>
        <section class="sectionPicture">
            <div class="pictureLeft">
                <img class="imgBackground">
                <div class="carouselBtnBlock">
                    <div class="carouselBtn carouselBtnleft"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="carouselBtn carouselBtnright"><i class="fa-solid fa-angle-right"></i></div>
                </div>
                <div class="carouselUnderBlock">
                    <!-- <div class="carouselInturn">
                        <div class="carouselInturnshow"></div>
                    </div> -->                   
                </div>
            </div>
            <div class="pictureRight">
                <p class="attractionName">平安鐘</p>
                <p class="attractionSort">公共藝術at忠孝復興</p>
                <div class="orderDirect">
                    <p class="orderTitle">訂購導覽行程</p>
                    <p class="orderScribe">以此景點為中心的一日行程，帶你探索城市角落故事</p>
                    
                    <div class="dateBlock">
                        <label class="dateTitle">選擇日期：
                            <input class="dateIn" type="date" id="start" name="trip-start" value="2022-11-28" min="2022-11-28" max="2099-12-31">
                        </label>
                    </div>
                    
                    <div class="timeBlock">
                        <label for="" class="timeTitle">選擇時間：</label>
                        <input id="morning" type="radio" name="day" class="Btnmorning" checked="checked">
                        <label>上半天</label>
                        <input id="afternoon" type="radio" name="day" class="Btnnoon">
                        <label>下半天</label>
                        <!-- <div class="timeTitle">選擇時間：</div>
                        <button class="btn"></button> 
                        <label class="morning">上半天</label>
                        <button class="Btnnoon"></button> 
                        <label class="morning">下半天</label> -->
                    </div>

                    <div class="feeBlock">
                        <div class="feeTitle">導覽費用：</div>
                        <div class="fee">新台幣 2000 元</div>
                    </div>

                    <div class="orderBtn">開始預約行程</div>
                </div>
            </div>
        </section>

        <hr>
      
        <section class="sectioncontain">
            <p class="describe"></p>
            <p class="addressTitle">景點地址：</p>
            <p class="address"></p>
            <p class="transportTitle">交通方式：</p>
            <p class="transport"></p>
            


        </section>
        
    </main>

    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
</body>
<script src="../static/attraction.js" defer></script>
</html>