{% extends "base.html" %}


{% block css %}
<!-- <link rel="stylesheet" href=""> -->
<link rel="stylesheet" href="../static/css/booking.css">
{% endblock %}


{% block inmain %}
<!-- <div>123</div> -->
<section class="bookingContent">
    <div class="messageBlock">你好，Yakko，待預定的行程如下</div>
    <div class="messageDownBlock">
        <div class="imageBlock">123</div>
        <div class="attractionIntroduceBlock">456
            <div class="attractionName"></div>
            <div class="orderDate"></div>
            <div class="orderTime"></div>
            <div class="orderFee"></div>
            <div class="attractionAddress"></div>
        </div>
    </div>
</section>



{% endblock %}


{% block javascript %}
{% endblock %}