{% extends "base.html" %}

{% block css %}
{% endblock %}


{% block inmain %}
<main>
    <section class="page-one">
        <div class="text">
            <h2>輕鬆享受台北一日悠閒</h2>
            <p>探索每個角落，體驗程式的深度旅遊行程</p>
            <form class="but" action="" method="">
                <input class="search" type="text" name="" placeholder="輸入景點名稱查詢" />
                <div type="" class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
        
            <!-- 建立搜尋表單 -->
            <div class="searchcontainer">
                <div class="searchForm">
                </div>
            </div>        
        </div>
    </section>

    
    

    <section class="container-twelve">
        <div class="container-block"></div>
    </section>
    <!-- <div class="container" id="container"></div> -->
    




</main>




{% endblock %}

{% block javascript %}
<script src="../static/index_firstpage.js" defer></script>
{% endblock %}
