<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>台北</title>
    <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"/>
     -->
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- <link rel="stylesheet" href="../static/css/index/style.css"> -->
</head>

<body id="body">

    <nav>
        <div>
            <div class="nav-bar-left">
                <p>台北一日遊</p>
            </div>
            <div class="nav-bar-right">
                <p>預設行程</p>
                <p>登入/註冊</p>
            </div>
        </div>
    </nav>

    <main>
        <section class="page-one">
            <div class="text">
                <h2>輕鬆享受台北一日悠閒</h2>
                <p>探索每個角落，體驗程式的深度旅遊行程</p>
                <form action="" method="" class="but">
                    <input type="text" name="" class="search" value="輸入景點名稱查詢" />
                    <div type="" class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
            
                <!-- 建立搜尋表單 -->
                <div class="searchcontainer">
                    <div class="searchForm">
                            <!-- <div class="searchItem publicart">公共藝術</div>
                            <div class="searchItem else">其 他</div>
                            <div class="searchItem bike">單車遊蹤</div>
    
                            <div class="searchItem religion">宗教信仰</div>
                            <div class="searchItem outdoor">戶外踏青</div>
                            <div class="searchItem spring">春季活動</div>
    
                            <div class="searchItem history">歷史建築</div>
                            <div class="searchItem blue">藍色公路</div>
                            <div class="searchItem art">藝文館所</div>
    
                            <div class="searchItem parentchild">親子共遊</div>
                            <div class="searchItem spa">養生溫泉</div> -->
                        <!-- </div> -->
                    </div>
                </div>
                
            
            </div>

        </section>

        

        <section class="container-twelve"><!--1-->
            <div class="container-block"><!--2-->
                <!-- <div class="item">
                    <div class="img-block apple">
                        -- <img class="img-block" src="../static/img/IMG_3463.jpg">
                        <p>123456</p> --
                    </div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    --設定多個屬性讓他去抓--
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div> -->






            </div>


        </section>
        <!-- <div class="container" id="container"></div> -->
        <div class="loading">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>



    </main>

    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    

</body>
<!-- <div class="more_button">
        <button > add </button>
    </div> -->

<script src="../static/index_firstpage.js" defer></script>
<!-- <script src="./ans4-1.js" defer></script> -->





</html>