<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>台北</title>
    <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"/>
     -->
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav>
        <div>
            <div class="nav-bar-left">
                <p>台北一日遊</p>
            </div>
            <div class="nav-bar-right">
                <p>預設行程</p>
                <p>登入/註冊</p>
            </div>
        </div>
    </nav>

    <main>
        <section class="page-one">
            <div class="text">
                <h2>輕鬆享受台北一日悠閒</h2>
                <p>探索每個角落，體驗程式的深度旅遊行程</p>
                <form action="" method="" class="but">
                    <input type="text" name="" class="search" value="輸入景點名稱查詢" />
                    <button type="" class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            <div>
                <!-- 建立搜尋表單 -->
            <div class="searchForm">
                    <div class="searchItem">公共藝術</div>
                    <div class="searchItem">其 他</div>
                    <div class="searchItem">單車遊蹤</div>

                    <div class="searchItem">宗教信仰</div>
                    <div class="searchItem">戶外踏青</div>
                    <div class="searchItem">春季活動</div>

                    <div class="searchItem">歷史建築</div>
                    <div class="searchItem">藍色公路</div>
                    <div class="searchItem">藝文館所</div>

                    <div class="searchItem">親子共遊</div>
                    <div class="searchItem">養生溫泉</div>
                <!-- </div> -->
            </div>
        </section>

        <!-- <section class="firstsection">
            <div class="blocktop">
                <div>
                    <p class="enjoy">輕鬆享受台北一日悠閒</p>
                    <p class="explore">探索每個角落，體驗城市的深度旅遊行程</p>
                    <form class="search-form">
                        <input type="" class="search-input" value="輸入景點名稱查詢">
                        <button type="" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                    <div class="search-item">
                        <div class="item-contactions">1</div>
                        <div class="item-contactions">2</div>
                        <div class="item-contactions">3</div>
                        <div class="item-contactions">4</div>
                        <div class="item-contactions">5</div>
                        <div class="item-contactions">6</div>
                        <div class="item-contactions">7</div>
                        <div class="item-contactions">8</div>
                        <div class="item-contactions">9</div>
                        <div class="item-contactions">10</div>
                        <div class="item-contactions">11</div>
                        <div class="item-contactions">12</div>
                    </div>
                </div>
        </section> -->

        <section class="container-twelve">
            <div class="container-block">
                <div class="item">
                    <div class="img-block apple">
                        <!-- <img class="img-block" src="../static/img/IMG_3463.jpg">
                        <p>123456</p> -->
                    </div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <!--設定多個屬性讓他去抓-->
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>

                <div class="item">
                    <div class="img-block apple"></div>
                    <div class="sort"></div>

                </div>






            </div>


        </section>
        <!-- <div class="container" id="container"></div> -->
        <div class="loading">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>



    </main>

    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>


</body>
<!-- <div class="more_button">
        <button > add </button>
    </div> -->

<script src="../static/index_firstpage.js" defer></script>
<!-- <script src="./ans4-1.js" defer></script> -->





</html>